// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 400px) {

  .favoriteNav {
    position: fixed;
    top: 18px;
    right: 1%;
  }

  .favoriteNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .favoriteNav img:hover {
    opacity: .5;
  }
  #homeNavIcon{
    margin-right: 6px;
  }
  #plusNavIcon{
    margin-right: 5px;
    margin-left: 0px;
  }

  .favoriteRecipes{
    position: relative;
    top: 60px;
    width: 93%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    padding: 3%;
  }
}


/* Larger than phablet */

@media (min-width: 550px) {

}

/* Larger than tablet */

@media (min-width: 750px) {

}

/* Larger than desktop */

@media (min-width: 1000px) {

}

/* Larger than desktop HD*/

@media (min-width: 1200px) {

}
