.sunRecipeP :hover {
  color: #7cf7af;
}

#favDiv {
  position: relative;
  top: 60px;
}


@media (min-width: 400px) {

  .sunCalendar {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #7cf7af;
    z-index: 1;
    color: white;

    -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    -moz-box-shadow: 1px 1px 10px -1px #706f70;
    box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunCalendar div {
    display: inline;
    float: left;
    width: 14.25%;
    height: 50px;
    text-align: center;
  }

  .sunCalendar div:hover {
    background-color: #a2fac6;
  }

  .day {
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: medium;
    letter-spacing: .2em;
  }

  #calBtn {
    color: white;
  }

  .sundayContainer {
    position: relative;
    margin: auto;
    top: 110px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #F0F0F0;
  }

  .sundayLi {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    left: -20px;
    vertical-align:top;
  }

  .sunProfileRecipes {
    position: relative;
    margin: auto;
    width: 380px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .sunRecipeContainer {
    position: relative;
    width: 380px;
    height: 120px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
    background-color: white;
  }

  .sunRecipeImgContainer {
    display: inline;
    float: left;
    clear: right;
    width: 50%;
    min-height: 120px;
    margin: 0;
    margin-right: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunProfileRecipeImg {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    padding-right: 4%;
  }

  .sunRecipeContent {
    position: relative;
    top: -15px;
    padding: 4%;
  }

  .sunRecipeH2 {
    font-size: 13px;
    text-transform: uppercase;
    color: #919191;
  }

  .sunProfileA {
    text-decoration: none;
    color: #FF9447;
    letter-spacing: .05em;
  }

  .sunRecipeP {
    position: relative;
    top: -10px;
    line-height: 1.2em;
  }

  .sunRecipeFavBtn {
    position: relative;
    top: 0px;
    left: 10%;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
  }

  .sunFavBtnIcon {
    width: 15px;
    height: 15px;
  }

  .sunFavBtnIcon:hover {
    opacity: .5;
  }
}


/* Larger than phablet */

@media (min-width: 550px) {

  .sunCalendar {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #7cf7af;
    z-index: 1;
    color: white;

    -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    -moz-box-shadow: 1px 1px 10px -1px #706f70;
    box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunCalendar div {
    display: inline;
    float: left;
    width: 14.25%;
    height: 50px;
    text-align: center;
  }

  .sunCalendar div:hover {
    background-color: #a2fac6;
  }

  .day {
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: medium;
    letter-spacing: .2em;
  }

  #calBtn {
    color: white;
  }

  .sundayContainer {
    position: relative;
    margin: auto;
    top: 110px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #F0F0F0;
  }

  .sundayLi {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    left: -20px;
    vertical-align:top;
  }

  .sunProfileRecipes {
    position: relative;
    margin: auto;
    width: 480px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .sunRecipeContainer {
    position: relative;
    width: 480px;
    height: 140px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
    background-color: white;
  }

  .sunRecipeImgContainer {
    display: inline;
    float: left;
    clear: right;
    width: 50%;
    min-height: 140px;
    margin: 0;
    margin-right: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunProfileRecipeImg {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    padding-right: 4%;
  }

  .sunRecipeContent {
    position: relative;
    top: -15px;
    padding: 4%;
  }

  .sunRecipeH2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #919191;
  }

  .sunProfileA {
    text-decoration: none;
    color: #FF9447;
    letter-spacing: .05em;
  }

  .sunRecipeP {
    position: relative;
    top: -14px;
    font-size: 17px;
  }

  .sunRecipeFavBtn {
    position: relative;
    top: -15px;
    left: 15%;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
  }

  .sunFavBtnIcon {
    width: 15px;
    height: 15px;
  }

  .sunFavBtnIcon:hover {
    opacity: .5;
  }
}

/* Larger than tablet */

@media (min-width: 750px) {

  .sunCalendar {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #7cf7af;
    z-index: 1;
    color: white;

    -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    -moz-box-shadow: 1px 1px 10px -1px #706f70;
    box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunCalendar div {
    display: inline;
    float: left;
    width: 14.25%;
    height: 50px;
    text-align: center;
  }

  .sunCalendar div:hover {
    background-color: #a2fac6;
  }

  .day {
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: medium;
    letter-spacing: .2em;
  }

  #calBtn {
    color: white;
  }

  .sundayContainer {
    position: relative;
    margin: auto;
    top: 110px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-left: 1%;
    background-color: #F0F0F0;
  }

  .sundayLi {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 330px;
    height: 120px;
    position: relative;
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .sunProfileRecipes {
    position: relative;
    margin: auto;
    width: 715px;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-right: 0px;
    overflow: hidden;
    // margin-left: 5%;
    // margin-right: 5%;
    // background-color: blue;
  }

  .sunRecipeContainer {
    position: relative;
    width: 330px;
    height: 120px;
    margin-top: 20px;
    margin-right: 25px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    background-color: white;
  }

  .sunRecipeImgContainer {
    display: inline;
    float: left;
    clear: right;
    width: 50%;
    min-height: 120px;
    margin: 0;
    margin-right: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunProfileRecipeImg {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    padding-right: 4%;
  }

  .sunRecipeContent {
    position: relative;
    top: -15px;
    padding: 4%;
  }

  .sunRecipeH2 {
    font-size: 12px;
    text-transform: uppercase;
    color: #919191;
  }

  .sunProfileA {
    text-decoration: none;
    color: #FF9447;
    letter-spacing: .05em;
  }

  .sunRecipeP {
    position: relative;
    top: -10px;
    line-height: 1.2em;
    font-size: 13px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .sunRecipeFavBtn {
    position: relative;
    top: -2px;
    left: 5%;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
  }

  .sunFavBtnIcon {
    width: 15px;
    height: 15px;
  }

  .sunFavBtnIcon:hover {
    opacity: .5;
  }
}

/* Larger than desktop */

@media (min-width: 1000px) {
  .sunCalendar {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #7cf7af;
    z-index: 1;
    color: white;
    padding-left: 15%;

    -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    -moz-box-shadow: 1px 1px 10px -1px #706f70;
    box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunCalendar div {
    display: inline;
    float: left;
    width: 10.25%;
    height: 50px;
    text-align: center;
  }

  .sunCalendar div:hover {
    background-color: #a2fac6;
  }

  .day {
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: medium;
    letter-spacing: .2em;
  }

  #calBtn {
    color: white;
  }

  .sundayContainer {
    position: relative;
    margin: auto;
    top: 110px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 900px;
    padding-left: 2%;
    background-color: #F0F0F0;
  }

  .sundayLi {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 120px;
    position: relative;
    margin-left: 7px;
    margin-right: 18px;
    margin-bottom: 45px;
  }

  .sunProfileRecipes {
    position: relative;
    left: 0px;
    margin: auto;
    width: 858px;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-right: 0px;
    overflow: hidden;
    // background-color: blue;
    // border-left: 1px solid #706f70;
    // border-right: 1px solid #706f70;

    // -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    // -moz-box-shadow: 1px 1px 10px -1px #706f70;
    // box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunRecipeContainer {
    position: relative;
    width: 400px;
    height: 140px;
    margin-top: 20px;
    margin-right: 25px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    background-color: white;
    left: 6px;
  }

  .sunRecipeImgContainer {
    display: inline;
    float: left;
    clear: right;
    width: 50%;
    min-height: 140px;
    margin: 0;
    margin-right: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunProfileRecipeImg {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    padding-right: 4%;
  }

  .sunRecipeContent {
    position: relative;
    top: -15px;
    padding: 4%;
  }

  .sunRecipeH2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #919191;
  }

  .sunProfileA {
    text-decoration: none;
    color: #FF9447;
    letter-spacing: .05em;
  }

  .sunRecipeP {
    position: relative;
    top: -14px;
    font-size: 15px;
  }

  .sunRecipeFavBtn {
    position: relative;
    top: -20px;
    left: 5%;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
  }

  .sunFavBtnIcon {
    width: 15px;
    height: 15px;
  }

  .sunFavBtnIcon:hover {
    opacity: .5;
  }
}

/* Larger than desktop HD*/

@media (min-width: 1200px) {
  .sunCalendar {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #7cf7af;
    z-index: 1;
    color: white;
    padding-left: 15%;

    -webkit-box-shadow: 1px 1px 10px -1px #706f70;
    -moz-box-shadow: 1px 1px 10px -1px #706f70;
    box-shadow: 1px 1px 10px -1px #706f70;
  }

  .sunCalendar div {
    display: inline;
    float: left;
    width: 10.25%;
    height: 50px;
    text-align: center;
  }

  .sunCalendar div:hover {
    background-color: #a2fac6;
  }

  .day {
    position: relative;
    top: 2px;
    font-size: 15px;
    font-weight: medium;
    letter-spacing: .2em;
  }

  #calBtn {
    color: white;
  }

  .sundayContainer {
    position: relative;
    margin: auto;
    top: 110px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 1000px;
    // padding-left: 2%;
    background-color: #F0F0F0;
  }

  .sundayLi {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 160px;
    position: relative;
    margin-left: 20px;
    margin-right: 22px;
    margin-bottom: 35px;
  }

  .sunProfileRecipes {
    position: relative;
    left: 0px;
    margin: auto;
    width: 1000px;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-right: 0px;
    overflow: hidden;
  }

  .sunRecipeContainer {
    position: relative;
    width: 450px;
    height: 160px;
    margin-top: 20px;
    margin-right: 30px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    background-color: white;
    left: 6px;
  }

  .sunRecipeImgContainer {
    display: inline;
    float: left;
    clear: right;
    width: 50%;
    min-height: 160px;
    margin: 0;
    margin-right: 4%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sunProfileRecipeImg {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    padding-right: 4%;
  }

  .sunRecipeContent {
    position: relative;
    top: -15px;
    padding: 4%;
  }

  .sunRecipeH2 {
    font-size: 15px;
    text-transform: uppercase;
    color: #919191;
  }

  .sunProfileA {
    text-decoration: none;
    color: #FF9447;
    letter-spacing: .05em;
  }

  .sunRecipeP {
    position: relative;
    top: -14px;
    font-size: 16px;
  }

  .sunRecipeFavBtn {
    position: relative;
    top: -35px;
    left: 5%;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
  }

  .sunFavBtnIcon {
    width: 15px;
    height: 15px;
  }

  .sunFavBtnIcon:hover {
    opacity: .5;
  }
}
