// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logoH1 {
  font-size: 27px;
}

.recipeShowContainer {
  background-color: white;
}

.formTextArea {
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 5px;
  width: 70%;
  height: 100px;
  text-align: left;
  font-weight: lighter;
  padding: 10px;

  -webkit-box-shadow: inset 7px 7px 15px -10px rgba(168,168,168,1);
  -moz-box-shadow: inset 7px 7px 15px -10px rgba(168,168,168,1);
  box-shadow: inset 7px 7px 15px -10px rgba(168,168,168,1);
}

@media (min-width: 400px) {

  #recipeBody {
    margin: 0;
  }

  .recipeNav {
    position: fixed;
    top: 18px;
    right: 1%;
  }

  .recipeNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .recipeShowImg {
    position: relative;
    margin: auto;
    top: 40px;
    width: 100%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .recipeShowContainer {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
  }

  #recipeName {
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 30px;
    padding: 1%;
    background-color: #FF9447;
    text-align: center;
    color: white;
  }

  #recipeNameH2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .05em;
    font-size: 20px;
    line-height: 1.5em;
  }

  .recipeDetails {
    position: relative;
    top: 0px;
    width: 94%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    letter-spacing: .05em;
  }

  .recipeH4 {
    width: 100%;
    color: #FF9447;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2%;
    margin-bottom: 0px;
    letter-spacing: .09em;
    font-weight: medium;
    font-size: 24px;

  }

  .recipeUl {
    position: relative;
    top: -10px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1.5em;
    // height: 200px;
    // overflow: hidden;
    // overflow-y: auto;
  }

  .recipeUl li {
    list-style-type: none;
    // margin: 0 0 3px 0;
    padding-bottom: 1%;
    padding-top: 1%;
    max-width: 350px;
    text-transform: uppercase;
    line-height: 1.7em;
  }

  .recipeOl {
    position: relative;
    top: -38px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 17px;
  }

  .recipeOl li {
    list-style-type: none;
    margin-bottom: 2%;
    padding-bottom: 3%;
    padding-top: 1%;
    max-width: 370px;
    line-height: 1.5em;
  }

  .showFavBtn {
    position: relative;
    left: 5px;
    margin: 0px;
    top: 15px;
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
  }

  .showBtnIcon {
    width: 20px;
    height: 20px;
  }
}


/* Larger than phablet */

@media (min-width: 550px) {
  #recipeBody {
    margin: 0;
  }

  .recipeNav {
    position: fixed;
    top: 18px;
    right: 1%;
  }

  .recipeNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .recipeShowImg {
    position: relative;
    margin: auto;
    top: 40px;
    width: 100%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .recipeShowContainer {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
  }

  #recipeName {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 1%;
    background-color: #FF9447;
    text-align: center;
    color: white;
  }

  #recipeNameH2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .05em;
  }

  .recipeDetails {
    position: relative;
    top: 0px;
    width: 94%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    letter-spacing: .05em;
  }

  .recipeH4 {
    width: 100%;
    color: #FF9447;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2%;
    margin-bottom: 0px;
    letter-spacing: .09em;
    font-weight: medium;
    font-size: 24px;
    position: relative;
    left: -5px;
  }

  .recipeUl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1.5em;
    // height: 200px;
    // overflow: hidden;
    // overflow-y: auto;
  }

  .recipeUl li {
    list-style-type: none;
    margin-bottom: 2%;
    // border-bottom: 1px solid #919191;
    padding-bottom: 1%;
    padding-top: 1%;
    max-width: 520px;
    text-transform: uppercase;
  }

  .recipeOl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 17px;
  }

  .recipeOl li {
    list-style-type: none;
    margin-bottom: 2%;
    padding-bottom: 3%;
    padding-top: 1%;
    max-width: 520px;
    line-height: 1.7em;
  }

  .showFavBtn {
    position: relative;
    left: 5px;
    margin: 0px;
    top: 15px;
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
  }

  .showBtnIcon {
    width: 20px;
    height: 20px;
  }
}

/* Larger than tablet */

@media (min-width: 750px) {
  #recipeBody {
    margin: 0;
  }

  .recipeNav {
    position: fixed;
    top: 18px;
    right: 1%;
  }

  .recipeNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .recipeShowImg {
    position: relative;
    margin: auto;
    top: 40px;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .recipeShowContainer {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
  }

  #recipeName {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 1%;
    background-color: #FF9447;
    text-align: center;
    color: white;
  }

  #recipeNameH2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .05em;
  }

  .recipeDetails {
    position: relative;
    top: 0px;
    width: 94%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    letter-spacing: .05em;
  }

  .recipeH4 {
    width: 100%;
    color: #FF9447;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2%;
    margin-bottom: 0px;
    letter-spacing: .09em;
    font-weight: medium;
    font-size: 24px;
    position: relative;
    left: -5px;
  }

  .recipeUl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1.5em;
    // height: 200px;
    // overflow: hidden;
    // overflow-y: auto;
  }

  .recipeUl li {
    list-style-type: none;
    margin-bottom: 2%;
    // border-bottom: 1px solid #919191;
    padding-bottom: 1%;
    padding-top: 1%;
    max-width: 720px;
    text-transform: uppercase;
  }

  .recipeOl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 17px;
  }

  .recipeOl li {
    list-style-type: none;
    margin-bottom: 2%;
    padding-bottom: 3%;
    padding-top: 1%;
    max-width: 720px;
    line-height: 1.7em;
  }

  .showFavBtn {
    position: relative;
    left: 5px;
    margin: 0px;
    top: 15px;
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
  }

  .showBtnIcon {
    width: 20px;
    height: 20px;
  }
}

/* Larger than desktop */

@media (min-width: 1000px) {
  #recipeBody {
    position: relative;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 950px;
    // background-color: white;
    background-color: #F0F0F0;
  }

  .recipeNav {
    position: fixed;
    top: 18px;
    right: 1%;
  }

  .recipeNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .recipeShowImg {
    position: relative;
    margin: auto;
    top: 40px;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .recipeShowContainer {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    background-color: white;
  }

  #recipeName {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 1%;
    background-color: #FF9447;
    text-align: center;
    color: white;
  }

  #recipeNameH2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .05em;
  }

  .recipeDetails {
    position: relative;
    top: 0px;
    width: 94%;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    letter-spacing: .05em;
  }

  .recipeH4 {
    width: 100%;
    color: #FF9447;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2%;
    margin-bottom: 0px;
    letter-spacing: .09em;
    font-weight: medium;
    font-size: 24px;
    position: relative;
    left: -5px;
  }

  .recipeUl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1.5em;
    // height: 200px;
    // overflow: hidden;
    // overflow-y: auto;
  }

  .recipeUl li {
    list-style-type: none;
    margin-bottom: 2%;
    // border-bottom: 1px solid #919191;
    padding-bottom: 1%;
    padding-top: 1%;
    max-width: 800px;
    text-transform: uppercase;
  }

  .recipeOl {
    position: relative;
    top: 0px;
    left: 10px;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 17px;
  }

  .recipeOl li {
    list-style-type: none;
    margin-bottom: 2%;
    padding-bottom: 3%;
    padding-top: 1%;
    max-width: 800px;
    line-height: 1.7em;
  }

  .showFavBtn {
    position: relative;
    left: 5px;
    margin: 0px;
    top: 15px;
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
  }

  .showBtnIcon {
    width: 20px;
    height: 20px;
  }
}

/* Larger than desktop HD*/

@media (min-width: 1200px) {

}
