#logoH1 {
  font-size: 27px;
}

#editBody {
  background-color: white;
}

/* Larger than mobile */

@media (min-width: 400px) {

  .editModal {
    position: relative;
    margin: auto;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 400px;
    padding: 20px;
    background-color: white;
  }

  .cancelDiv {
    position: relative;
    top: -20px;
  }

  #editH1 {
    color: #FF9447;
    letter-spacing: .05em;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid;
    // border-width: thick;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 38px;
    font-weight: normal;
  }

  #editH4 {
    letter-spacing: .05em;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 30px;
    font-weight: normal;
  }

  .editHr {
    width: 100%;
    margin-bottom: 0;
  }

  #editBtn {
    margin: 10px;
    background-color: #FF9447;
    color: white;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #fe8b39;
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 30%;

    -webkit-box-shadow: 1px 2px 5px -1px #706f70;
    -moz-box-shadow: 1px 2px 5px -1px #706f70;
    box-shadow: 1px 2px 5px -1px #706f70;
  }

  #editBtn:hover {
    background-color: #FFB347;
    border: 1px solid #fead3b;
  }

  .settingNav {
    position: fixed;
    top: 18px;
    right: 18%;
  }

  .settingNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .settingNav img:hover {
    opacity: .5;
  }

  .settingLogOut {
      position: fixed;
      top: 0%;
      right: 0%;
    }

    .settingForms {
      position: relative;
      margin: auto;
      top: 90px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 300px;
      min-height: 400px;
      padding: 10px;
      padding-left: 30px;
      background-color: white;
      // border-radius: 7px;
      background-color: white;
      padding: 8%;

      -webkit-box-shadow: 3px 4px 12px -1px #706f70;
      -moz-box-shadow: 3px 4px 12px -1px #706f70;
      box-shadow: 3px 4px 12px -1px #706f70;
    }

    .settingH {
      position: relative;
      top: -15px;
      font-weight: normal;
      letter-spacing: .05em;
      color: #FF9447;
      padding-bottom: 4%;
      border-bottom: 1px solid #919191;
    }

    #editUser {
      min-height: 200px;
    }

    .logOutBtn {
     position: relative;
     right: 150%;
     margin: 10px;
     background-color: #FF9447;
     color: white;
     width: 60px;
     height: 35px;
     border-radius: 8px;
     border: 1px solid #fe8b39;
     font-size: 13px;
     text-shadow: 1px 1px #ABABAB;
     letter-spacing: .05em;

     -webkit-box-shadow: 1px 2px 5px -1px #706f70;
     -moz-box-shadow: 1px 2px 5px -1px #706f70;
     box-shadow: 1px 2px 5px -1px #706f70;
   }

   .logOutBtn:hover {
     background-color: #FFB347;
     border: 1px solid #fead3b;
   }

   #cancel {
     margin-bottom: -10px;
   }
}

/* Larger than phablet */

@media (min-width: 550px) {
  .editModal {
    position: relative;
    margin: auto;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 550px;
    padding: 20px;
    background-color: white;
  }

  #editH1 {
    color: #FF9447;
    letter-spacing: .05em;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 38px;
    font-weight: normal;
  }

  #editBtn {
    margin: 10px;
    background-color: #FF9447;
    color: white;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #fe8b39;
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 36%;

    -webkit-box-shadow: 1px 2px 5px -1px #706f70;
    -moz-box-shadow: 1px 2px 5px -1px #706f70;
    box-shadow: 1px 2px 5px -1px #706f70;
  }

  #editBtn:hover {
    background-color: #FFB347;
    border: 1px solid #fead3b;
  }

  .settingNav {
    position: fixed;
    top: 18px;
    right: 18%;
  }

  .settingNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .settingNav img:hover {
    opacity: .5;
  }

  .settingLogOut {
      position: fixed;
      top: 0%;
      right: 0%;
    }

    .settingForms {
      position: relative;
      margin: auto;
      top: 90px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 300px;
      min-height: 400px;
      padding: 10px;
      padding-left: 30px;
      background-color: white;
      // border-radius: 7px;
      background-color: white;
      padding: 8%;

      -webkit-box-shadow: 3px 4px 12px -1px #706f70;
      -moz-box-shadow: 3px 4px 12px -1px #706f70;
      box-shadow: 3px 4px 12px -1px #706f70;
    }

    .settingH {
      position: relative;
      top: -15px;
      font-weight: normal;
      letter-spacing: .05em;
      color: #FF9447;
      padding-bottom: 4%;
      border-bottom: 1px solid #919191;
    }

    #editUser {
      min-height: 200px;
    }

    .logOutBtn {
      position: relative;
      right: 150%;
     margin: 10px;
     background-color: #FF9447;
     color: white;
     width: 60px;
     height: 35px;
     border-radius: 8px;
     border: 1px solid #fe8b39;
     font-size: 13px;
     text-shadow: 1px 1px #ABABAB;
     letter-spacing: .05em;

     -webkit-box-shadow: 1px 2px 5px -1px #706f70;
     -moz-box-shadow: 1px 2px 5px -1px #706f70;
     box-shadow: 1px 2px 5px -1px #706f70;
   }

   .logOutBtn:hover {
     background-color: #FFB347;
     border: 1px solid #fead3b;
   }

   #cancel {
     margin-bottom: -10px;
   }

   #logoH1 {
     font-size: 27px;
   }
}

/* Larger than tablet */

@media (min-width: 750px) {
  .editModal {
    position: relative;
    margin: auto;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 600px;
    padding: 20px;
    background-color: white;
  }

  #editH1 {
    color: #FF9447;
    letter-spacing: .05em;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 38px;
    font-weight: normal;
  }

  #editBtn {
    margin: 10px;
    background-color: #FF9447;
    color: white;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #fe8b39;
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 38%;

    -webkit-box-shadow: 1px 2px 5px -1px #706f70;
    -moz-box-shadow: 1px 2px 5px -1px #706f70;
    box-shadow: 1px 2px 5px -1px #706f70;
  }

  #editBtn:hover {
    background-color: #FFB347;
    border: 1px solid #fead3b;
  }

  .settingNav {
    position: fixed;
    top: 18px;
    right: 18%;
  }

  .settingNav img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .settingNav img:hover {
    opacity: .5;
  }

  .settingLogOut {
      position: fixed;
      top: 0%;
      right: 0%;
    }

    .settingForms {
      position: relative;
      margin: auto;
      top: 90px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 300px;
      min-height: 400px;
      padding: 10px;
      padding-left: 30px;
      background-color: white;
      // border-radius: 7px;
      background-color: white;
      padding: 8%;

      -webkit-box-shadow: 3px 4px 12px -1px #706f70;
      -moz-box-shadow: 3px 4px 12px -1px #706f70;
      box-shadow: 3px 4px 12px -1px #706f70;
    }

    .settingH {
      position: relative;
      top: -15px;
      font-weight: normal;
      letter-spacing: .05em;
      color: #FF9447;
      padding-bottom: 4%;
      border-bottom: 1px solid #919191;
    }

    #editUser {
      min-height: 200px;
    }

    .logOutBtn {
      position: relative;
      right: 153%;
     margin: 10px;
     background-color: #FF9447;
     color: white;
     width: 60px;
     height: 35px;
     border-radius: 8px;
     border: 1px solid #fe8b39;
     font-size: 13px;
     text-shadow: 1px 1px #ABABAB;
     letter-spacing: .05em;

     -webkit-box-shadow: 1px 2px 5px -1px #706f70;
     -moz-box-shadow: 1px 2px 5px -1px #706f70;
     box-shadow: 1px 2px 5px -1px #706f70;
   }

   .logOutBtn:hover {
     background-color: #FFB347;
     border: 1px solid #fead3b;
   }

   #cancel {
     margin-bottom: -10px;
   }

   #logoH1 {
     font-size: 27px;
   }
}

/* Larger than desktop */

@media (min-width: 1000px) {
  #editBody {
    position: relative;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 950px;
    // background-color: white;
    background-color: #F0F0F0;
  }

  .editModal {
    position: relative;
    margin: auto;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 650px;
    padding: 40px;
    background-color: white;
  }

  #editBtn {
    margin: 10px;
    background-color: #FF9447;
    color: white;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #fe8b39;
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 39%;

    -webkit-box-shadow: 1px 2px 5px -1px #706f70;
    -moz-box-shadow: 1px 2px 5px -1px #706f70;
    box-shadow: 1px 2px 5px -1px #706f70;
  }

  .logOutBtn {
    position: relative;
    right: 156%;
   margin: 10px;
   background-color: #FF9447;
   color: white;
   width: 60px;
   height: 35px;
   border-radius: 8px;
   border: 1px solid #fe8b39;
   font-size: 13px;
   text-shadow: 1px 1px #ABABAB;
   letter-spacing: .05em;

   -webkit-box-shadow: 1px 2px 5px -1px #706f70;
   -moz-box-shadow: 1px 2px 5px -1px #706f70;
   box-shadow: 1px 2px 5px -1px #706f70;
 }


  #logoH1 {
    font-size: 27px;
  }
}

/* Larger than desktop HD*/

@media (min-width: 1200px) {

  #logoH1 {
    font-size: 27px;
  }
}
